.corpo{
    background-color: aliceblue;
    height: 10px;
    padding: -16px;
    margin: -199px;
    
    
}
.pai {
    background-color: black;
    height: 3040px;
    

}
.logo{
    color:red;
    display: flex;
    position: relative;
    left: 804px;
    font-size: 206px;
    top: 66px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo2{
    color:white;
    display: flex;
    position: relative;
    left: 808px;
    font-size: 202px;
    top: -334px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.img4{
    top: -699px;
    height: 447px;
    width: 393px;
    left: 197px;
    display: flex;
    position: relative;
}
.img5{
    top: -1139px;
    height: 447px;
    width: 393px;
    left: 1707px;
    display: flex;
    position: relative;
}
.botoes {
    display: flex;
    position: relative;
    left: 755px;
    width: 0px;
    height: 0px;
    color: red;
    font-size: 50px;
    top: -1366px;
    
}

.b1 {
    color: red;
    left: -39px;
    display: flex;
    position: relative;
    
}
.b2 {
    color: red;
    left: -15px;
    display: flex;
    position: relative;
    
}
.b3 {
    color: red;
    left: 27px;
    display: flex;
    position: relative;
    
    
}
.b4 {
    color: red;
    left: 73px; 
    display: flex;
    position: relative;
    
    
}
.p1 {
    color: red;
    display: flex;
    position: relative;
    width: 1884px;
    font-size: 35px;
    top: -1215px;
    left: 212px;
}
.h3 {
    color: red;
    display: flex;
    position: relative;
    width: 1884px;
    font-size: 73px;
    top: -562px;
    left: 851px;
}
.img6 {
    display: flex;
    position: relative;
    top: -765px; 
    left: 296px;
    width: 479px;
    
}
.p2 {
    color: red;
    display: flex;
    position: relative;
    width: 1834px;
    font-size: 35px;
    top: -1875px;
    left: 225px;
}
.p3 {
    color: red;
    display: flex;
    position: relative;
    width: 1257px;
    font-size: 35px;
    top: -1790px;
    left: 805px;
}
.botao5 {
    background-color: red;
    display: flex;
    position: relative;
    width: 708px;
    font-size: 87px;
    top: -1732px;
    left: 1070px;
    height: 228px; ;

}
.b5 {
    color: white;
    left: 73px; 
    display: flex;
    position: relative;
}