"{ 
    margin: 0px
    padding: 0px
}"

.body {
    background-color: aliceblue;
}
.pai {
    background-color: black;
}
.botoes {
    display: flex;
    position: relative;
    left: 820px;
    width: 10px;
    height: 37px;
    
}
.logo {
   display: flex;
   position: relative;
    width: 500px;
    left: 672px;
}
.b1 {
    color: red;
    
}
.b2 {
    color: red;
    
}
.b3 {
    color: red;
    
}
.b4 {
    color: red;
    
}
.img1{
    top: 70px;
    display: flex;
    position: relative;
    left: 50px;
}
.p1 {
    color: red;
    width: 936px;
    display: flex;
    position: relative;
    left: 964px;
    font-size: 30px;
    top: -393px;
}
.img2 {
    display: flex;
    position: relative;
    top: -325px;
    left: 50px;
}
.img3 {
    display: flex;
    position: relative;
    top: -1316px;
    width: 771px;
    left: 915px;
}
.p2 {
    color: red;
    width: 936px;
    display: flex;
    position: relative;
    left: 916px;
    font-size: 30px;
    top: -1304px; 
}